body {
    background-color: #8C52FF;
}

#login-section{
    margin-top: 90px;
    margin-bottom: 90px;
}

form {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 600px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    background:#ffffff;
    border: 1px solid #fff;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 10px 1px #000000;
    box-shadow: 2px 3px 8px 8px #000000;
} 
  
.login-title{
    font: 50px Helvetica;
    margin-top: -5px;
    margin-bottom: 10px;
    color:#8C52FF;
}

  
input { 
    background: #fff;
    display: block;
    width: 300px;
    padding: 20px;
    margin: 10px;
    font: 15px Helvetica;
    border: 0px;
    border-bottom: 1px solid #c9c9c9;
}
  
#login-button{
    margin-top: 25px;
    margin-bottom: 5px;
    width: 250px;
    padding: 12px;
    border: 0px;
    background: #8C52FF;
    border-radius: 8px;
    color: white;
    font: 18px Georgia;
    font-weight: bold;
    border: 2px solid #8C52FF;
}
    
#login-button:hover {
    background-color: #fff;
    color: #8C52FF;
    border-color: #8C52FF;
    cursor: pointer;
}
  
form p {
    font-family: Helvetica;
    font-size: 15px;
    color: #8C52FF;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
  
form a {
    text-decoration: none;
}

#holder{
    margin: auto;
    margin-top: 90px;
}

.register-title{
    font: 50px Helvetica;
    margin-top: 15px;
    margin-bottom: 10px;
    color:#8C52FF;
}

#reg-but{
    margin-top: 25px;
    margin-bottom: 5px;
    width: 250px;
    padding: 12px;
    border: 0px;
    background: #8C52FF;
    border-radius: 8px;
    color: white;
    font: 18px Georgia;
    font-weight: bold;
    border: 2px solid #8C52FF;
}

#reg-but:hover {
    background-color: #fff;
    color: #8C52FF;
    border-color: #8C52FF;
    cursor: pointer;
}

#footer{
    width: 100%;
    padding: 10px;
}

#reg-section{
    margin-top: 90px;
    margin-bottom: 90px;
}