:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --purple: #8C52FF;
    --font: sans-serif;
    --font-size: 26px;
}

@font-face {
    font-family: 'typographicaregular';
    src: url('./fonts/typographica-blp5-webfont.woff2') format('woff2'),
         url('./fonts/typographica-blp5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'tiltwarp';
    src: url(./fonts/tiltwarp.ttf);
}

#navbar{
    background-color: white;
    width: 100%;
    padding-top: -20px;
    padding-bottom: -10px;
    margin-top: -8px;
    margin-left: -8px;
    padding-bottom: -10px;
    font-size: var(--font-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

#SignButton{
    margin-right: 10px;
}

#LogInButton{
    margin-right: -3px;
}

#title{
    font-family: 'typographicaregular';
    font-size: 18px;
    margin-right: auto;
    margin-left: 12px;
}

strong{
    color: var(--purple);
}

.banner{
    display: inline-block;
}

#search-section{
    flex-direction: column;
    background-image: url(./images/caf2.jpg);
    background-size: cover;
    opacity: 0.8;
    height: 90vh;
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
    justify-content: center;
    align-items: center;
    position:relative;
    color: white;
}

#search-section::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
}

#search-section p{
    z-index: 1;
    font-family: "tiltwarp";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

#search-bar{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    outline: none;
    height: 55px;
    border: 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    width: 380px;
    text-indent: 10px;
    line-height: 15px;
    font-size: 12px;
    transform: scale(0.7); /* Add this line to scale down the size */
    transform-origin: middle;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #navbar{
        font-size: 12px;
    }
    #search-section{
        height: 84vh;
    }
}