:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --purple: #8C52FF;
    --font: sans-serif;
    --font-size: 32px;
}

#navbar{
    background-color: gray;
    padding: 5px;
    width: 100%;
    margin-left: -8px;
    font-size: var(--font-size);
}

#title{
    font: Verdana;
    font-size: 18px;
}

strong{
    color: var(--purple);
}

.banner{
    display: inline-block;
}

#search-section{
    flex-direction: column;
    background-color: red;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#search-bar{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    outline: none;
    height: 55px;
    border: 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    width: 380px;
    text-indent: 10px;
    line-height: 15px;
    font-size: 12px;
    transform: scale(0.7); /* Add this line to scale down the size */
    transform-origin: middle;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #navbar{
        font-size: 12px;
    }
}